[Desktop Entry]
Name=Pure Maps
MimeType=x-scheme-handler/geo
Exec=/bin/sh /usr/share/harbour-pure-maps/scripts/harbour-pure-maps-launcher %u
Icon=harbour-pure-maps
Type=Application
NoDisplay=true
X-Nemo-Application-Type=silica-qt5

[X-Sailjail]
Sandboxing=Disabled
