[Desktop Entry]
Name=Pure Maps
Exec=harbour-pure-maps %u
Icon=harbour-pure-maps
Type=Application
MimeType=x-scheme-handler/geo
# X-Nemo-Single-Instance=no
